.display-flex{
    display: flex;
    gap: 400px;
    padding: 50px;
    background-color: darkgrey;
}


.display-flex span{
    padding: 10px 20px;
    background-color: salmon;
    color: white;
    border-radius: 4px;
}

/* ----------index2---------------------- */

.main-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: #2c74bc;
      color: white;
    }


.logo {
      font-size: 24px;
      font-weight: bold;
    }

nav a {
      margin-left: 10px;
      text-decoration: none;
      color: rgb(234, 220, 220);
      font-weight: 700;
    }


/* ---------------------index3----------------------------------- */


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

header{
    background: rgb(176, 123, 53);
    color: white;
    padding: 20px;
}

main {
      flex-grow: 1;
      padding: 20px;
      background-color: #ecf0f1;
    }

    footer {
      background: #34495e;
      color: white;
      padding: 20px;
      text-align: center;
    }
